

    <!-- <nav class="navbar">
      <div class="nav-right">
        <ul class="nav-links">
          <li><a href="{% url 'catalog:category_list' %}" class="underline-default">Каталог</a></li>
          <li><a href="#gallery" class="underline-default">Галерея</a></li>
          <li><a href="#about" class="underline-default">О нас</a></li>
          <li><a href="#contacts" class="underline-default">Контакты</a></li>
        </ul>
      </div>
    </nav> -->

  <!-- Header -->
  <!-- <header class="header"> -->
    <!-- Catalog -->
    <!-- <section id="catalog" class="catalog">
      <div class="container">
        <h2 class="wow fadeInUp" data-wow-duration="1s">Наша продукция</h2>
        <div class="cards wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
          <div class="card wow fadeInLeft" data-wow-delay="0.2s"> -->
            <!-- <img src="static/images/ferma.jpg" alt="Фермы для дымоходов"> -->
            <!-- <img src="../static/images/ferma.jpg" alt="Фермы для дымоходов">
            <h3>Стол</h3>
            <p>Удобный и стильный для сборов со всей семьей.</p>
          </div>
          <div class="card wow fadeInUp" data-wow-delay="0.4s"> -->
            <!-- <img src="static/images/konstrukciya.jpg" alt="Блочно-модульные конструкции"> -->
            <!-- <img src="../static/images/konstrukciya.jpg" alt="Блочно-модульные конструкции"> Временно -->
            <!-- <h3>Костровая чаша</h3>
            <p>Надежная конструкция и жаростойкая краска.</p>
          </div>
          <div class="card wow fadeInRight" data-wow-delay="0.6s"> -->
            <!-- <img src="static/images/bunker.jpg" alt="Бункера"> -->
            <!-- <img src="../static/images/bunker.jpg" alt="Бункера"> Временно -->
            <!-- <h3>Угловой мангал</h3>
            <p>Порошковая краска и стильный дизайн.</p>
          </div>
        </div>
      </div>
    </section>
  </header> -->


  <!-- Contacts -->
  <!-- <section id="contacts" class="contacts">
    <div class="hero-text">
      <h2>Контакты</h2>
      <p>РТ г.Казань ул.Лукина 48Д<br>
         Телефон 1: +7 937 777 6768<br>
         Телефон 2: +7 917 289 8271<br>
         Telegram: t.me/kznitsa_style</p>
    </div>
  </section> -->

  <!-- Footer -->
  <!-- <footer class="footer">
    <div class="container">
      <p>&copy; 2025 Кузница Стиля. Все права защищены.</p>
    </div>
  </footer> -->